body{
    margin: 0px;
    padding: 0px;
    font-family: "Tinos", serif;
}


.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* -------------------- Top Section -------------------- */
.top{
    background-color: #609966;

    min-height: 30vh;
    height: auto;

    display: flex;   
    justify-content: center;
    align-items: center;

    color: #EDF1D6;
    overflow: hidden;
}

.contentTop{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.top img{
    border-radius: 50%;
    margin: 10px 0px;
    float: left;
}

.top .top2{
    width: 60%;
    height: 75%;
    overflow: hidden;
    margin-left: 10px;
}

.top2Title{
    text-align: left;
    text-shadow: 2px 2px 2px #40513B;
    font-weight: bold;
}

/* -------------------- Middle Section -------------------- */
.middle{
    background-color: #EDF1D6;
    min-height: 50vh;
    height: auto;
}

.containerCont{
    width: 90%;
    margin: 10px 10px;
    overflow: hidden;
    display: inline-block;
}

.previewMid{
    float: left;
    border-radius: 5px;
}

.titleMid{
     color: #40513B;
    font-weight: bold;
}

.infoMid{
    color: #21271f;
}

.containerCont a{
    color: #609966;
    text-decoration: none;
}

/* -------------------- Bottom Section -------------------- */
.bottom{
    background-color: #9DC08B;
    min-height: 20vh;
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{ 
    font-family: "Tinos", serif; 
    text-align: center;
    font-weight: bold;
    background-color: #EDF1D6;   
    color: #40513B;

    border-radius: 25px;
    border: none;
    padding: 10px;
}

button:hover{
    background-color: #609966;   
    color: #EDF1D6;
}

/* -------------------- PHONE 600px -------------------- */
@media (max-width: 600px){
    /* ---------- Top Section ---------- */
    
    .top img{
        width: 100px;
        border: solid 5px #40513B;
    }

    .top2Title{
        font-size: 20px;
    }

    .top2Info{
        text-shadow: 2px 2px 1px #40513B;
        font-size: 15px;
    }

    /* ---------- Middle Section ---------- */

    .previewMid{
        width: 90px;
        margin: 3px;
        border: solid 5px #40513B;
    }

    .titleMid{
        font-size: 18px;
    }

    .infoMid{
        font-size: 15px;
        margin: 5px 0px;
    }

    .containerCont a{
        font-size: 15px;
    }

    /* ---------- Bottom Section ---------- */

    button{
        font-size: 15px;
    }

    
}

/* -------------------- TABLET 601 a 1200px -------------------- */
@media (min-width: 601px) and (max-width: 1200px){

    /* ---------- Top Section ---------- */

    .top img{
        width: 150px;
        border: solid 7.5px #40513B;
    }

    .top2Title{
        font-size: 30px;
    }

    .top2Info{
    text-shadow: 2px 2px 1px #40513B;
    font-size: 20px;
    }

    /* ---------- Middle Section ---------- */

    .previewMid{
        width: 150px;
        margin: 5px;
        border: solid 5px #40513B;
    }

    .titleMid{
        font-size: 25px;
    }

    .infoMid{
        font-size: 20px;
        margin: 5px 0px;
    }

    .containerCont a{
        font-size: 20px;
    }

    /* ---------- Bottom Section ---------- */

    button{
        font-size: 20px;
    }
}

/* -------------------- REST 1201px -------------------- */
@media (min-width: 1201px){

    /* ---------- Top Section ---------- */

    .top img{
        width: 200px;
        border: solid 10px #40513B;
    }

    .top2Title{
        font-size: 50px;
    }

    .top2Info{
        text-shadow: 2px 2px 1px #40513B;
        font-size: 30px;
    }
    /* ---------- Middle Section ---------- */

    .previewMid{
        width: 150px;
        margin: 10px;
        border: solid 5px #40513B;
    }

    .titleMid{
        font-size: 35px;
    }

    .infoMid{
        font-size: 30px;
        margin: 5px 0px;
    }

    .containerCont a{
        font-size: 30px;
    }

    /* ---------- Bottom Section ---------- */

    button{
        font-size: 30px;
    }
}