body{
    margin: 0px;
    padding: 0px;
    font-family: "Tinos", serif;
}


.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* -------------------- Top Section -------------------- */

.top{
    background-color: #609966;

    min-height: 15vh;
    height: auto;

    display: flex;   
    justify-content: start;
    align-items: center;

    color: #EDF1D6;
    overflow: hidden;
}


.top div{
    text-align: left;
    text-shadow: 2px 2px 2px #40513B;
    font-weight: bold;
    margin: 15px;
}

/* -------------------- Middle Section -------------------- */

.middle{
    background-color: #EDF1D6;
    min-height: 65vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projectCard{
    width: 80%;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #609966;
    cursor: pointer;
}

.projectCard:hover{
    background-color: #6dc276;
    box-shadow: #40513B 5px 5px;
}

.cardImg{
    float: left;
    margin-right: 10px;
}

.cardTitle{
    color: #EDF1D6;
    text-shadow: 2px 2px 2px #40513B;
    font-weight: bold;
    text-align: start;
    margin: 0px 10px 10px 10px;
}

.cardInfo{
    color: #EDF1D6;
    font-size: 15px;
    margin: 0px 10px 10px 10px;
}

/* -------------------- Bottom Section -------------------- */

.bottom{
    background-color: #9DC08B;
    min-height: 20vh;
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{ 
    font-family: "Tinos", serif; 
    text-align: center;
    font-weight: bold;
    background-color: #EDF1D6;   
    color: #40513B;
    cursor: pointer;

    border-radius: 25px;
    border: none;
    padding: 10px;
}

button:hover{
    background-color: #609966;   
    color: #EDF1D6;
}

/* -------------------- Cards Section -------------------- */

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8); /* <--- qui scurisci il resto */
    z-index: 1000;
    transition: 0.3s;
}

.popupContent{
    position: relative;
    background-color: #EDF1D6;
    min-width: 80%;
    min-height: 80vh;
    padding: 20px;
    opacity: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.popupText{
    width: 60%;
    min-height: 75vh;
    max-height: 75vh;
    height: auto;    
    text-align: left;
    margin-top: 10px;
    
    color: #21271f;
}

.popupGallery{
    width: 50%;
    min-height: 75vh;
    max-height: 75vh;
    height: auto;
    overflow-y: scroll;
    scrollbar-color: #609966 #EDF1D6;
}

.pageSection{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 5px solid #609966;
}

.pageSection img{
    width: 100%;
}

.pageSection div{
    text-align: center;
    color: #EDF1D6;
    background-color: #609966;
    padding: 5px;
}

.popup button{
    font-family: "Tinos", serif; 
    text-align: center;
    font-weight: bold;
    background-color: #EDF1D6;   
    color: #40513B;

    position: absolute;
    top: 10px;   
    right: 10px; 
    border: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

.popup button:hover{
    background-color: #609966;   
    color: #EDF1D6;
}


/* -------------------- PHONE 600px -------------------- */

@media (max-width: 600px){

    /* ---------- Top Section ---------- */

    .top div{
        font-size: 20px;
    }

    /* ---------- Middle Section ---------- */

    .cardImg{
        width: 75px;
    }

    .cardTitle{
        font-size: 15px;
    }

    .cardInfo{
        font-size: 10px;
    }

    /* ---------- Bottom Section ---------- */

    button{
        font-size: 15px;
    }

    /* ---------- Cards Section ---------- */

    .popupText{
        font-size: 15px;
    }
}

/* -------------------- TABLET 601 a 1200px -------------------- */

@media (min-width: 601px) and (max-width: 1200px){

    /* ---------- Top Section ---------- */
    .top div{
        font-size: 25px;
    }

    /* ---------- Middle Section ---------- */

        .cardImg{
        width: 100px;
    }

    .cardTitle{
        font-size: 20px;
    }

    .cardInfo{
        font-size: 15px;
    }

    /* ---------- Bottom Section ---------- */

    button{
        font-size: 20px;
    }

    /* ---------- Cards Section ---------- */

    .popupText{
        font-size: 20px;
    }
}

/* -------------------- REST 1201px -------------------- */

@media (min-width: 1201px){

    /* ---------- Top Section ---------- */

    .top div{
        font-size: 35px;
    }

    /* ---------- Middle Section ---------- */

    .cardImg{
        width: 150px;
    }

    .cardTitle{
        font-size: 25px;
    }

    .cardInfo{
        font-size: 20px;
    }

    /* ---------- Bottom Section ---------- */

    button{
        font-size: 30px;
    }
    
    /* ---------- Cards Section ---------- */

    .popupText{
        font-size: 30px;
    }
}